 
{% extends "/shop/layout.html.twig" %}      
{% block titles %}Shop categories{% endblock %} 
     
{% block body %} 
 
<h1>Shop categories</h1>  
 
{%  for category in categories %}
      
    <h2>{{category.title}}</h2>
    <p class="select_category"><a href="{{ url('category_view') }}/{{category.id}}">Select category</a></p>
    <hr>

{% endfor %}


{% endblock %}