<html>
    <head>
        <meta charset="UTF-8">    
        <title>{% block titles %}{% endblock %}</title>    
        <link href="{{ asset('/css/shop/css.css') }}" rel="stylesheet" />   
    </head>
    <div id="content">  
          {% block body %}{% endblock %}
    </div>     
</html>  